html {
    background-image: linear-gradient(90deg, hsl(345, 100%, 93%), rgb(210, 244, 255));
    font-family: 'Courier New', Courier, monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}
h1 {
    color: white;
    text-shadow: rgb(124, 124, 124) 1px 0 10px, 2px 2px 2px pink;
    font-size: 70px;
    margin: 40px;
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(124, 124, 124);
    text-align: center;
}
p {
    font-size: 17px;
}
.option {
    margin: 40px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    border-bottom: solid 1px rgb(124, 124, 124);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 40px;
    margin-bottom: 10px;
}
input {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.search {
    margin: 20px;
    text-align: center;
}
#country-code {
    font-size: 15px;
    text-align: center;
    width: 120px;
    height: 30px;
    text-shadow: 1px 1px 2px pink;
    border: white;
    box-shadow: 2px 2px 2px pink;
}
#holiday-name {
    font-size: 15px;
    text-align: center;
    width: 150px;
    height: 30px;
    text-shadow: 1px 1px 2px pink;
    border: white;
    box-shadow: 2px 2px 2px pink;
}
#date {
    font-size: 15px;
    text-align: center;
    width: 50px;
    height: 30px;
    text-shadow: 1px 1px 2px pink;
    border: white;
    box-shadow: 2px 2px 2px pink;
}
#searchButton {
    margin-left: 10px;
    background-color: white;
    border: solid 1px rgb(0, 0, 0);
    font-size: 15px;
    width: 80px;
    height: 20px;
    text-shadow: 1px 1px 2px pink;
    box-shadow: 2px 2px 2px pink;
}
#searchButton:hover {
    font-size: 17px;
    background-color: rgb(255, 255, 255);
}
#random {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px pink;
    width: 300px;
    height: 30px;
    text-shadow: 1px 1px 2px pink;
}
#random:hover {
    font-size: 17px;
    background-color: rgb(255, 255, 255);
}.err {
    text-align: center;
}
.res {
    display: flex;
    justify-content: center;
}
.col {
    float: right ;
}
#flag {
    display: none;
    margin-left: 40px;
    width: 150px; 
    margin-right: 50px;
}
.list {
    text-align: left;
    margin-right: 40px;
}
.hPub {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(124, 124, 124);
}
.hName {
    font-size: 20px;
}
.results {
    text-align: center;
}
#cName {
    font-size: 15px;
}
.hide {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 13px;
    height: 20px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px pink;
    text-shadow: 1px 1px 2px pink;
} 
.hide:hover {
    font-size: 15px;
    background-color: rgb(255, 255, 255);
}
